<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/profile.jpeg" alt="profile image" />
<p>
  With a Master of Science in Computer Science from Savitribai Phule Pune
  University, I’ve always been driven by curiosity and a deep passion for
  building seamless digital experiences. My academic journey shaped my
  problem-solving mindset and honed my ability to dive into complex technical
  challenges—an approach that’s defined my professional career ever since.<br /><br />
  Over the past 9 years, I’ve contributed to the success of leading tech firms
  like Synechron Technologies, Nouveau Labs, and Atos India. As a Lead
  Technologist, I’ve guided frontend teams, launched enterprise-grade
  applications from the ground up, and delivered scalable, high-performance
  solutions across finance, telecom, and enterprise SaaS domains. My expertise
  lies in ReactJS, JavaScript, TypeScript, RJSF, and various UI frameworks. From
  building dynamic multi-page form engines to architecting dashboards powered by
  real-time analytics, I take pride in creating user-centric products that drive
  business impact.<br /><br />
  Looking ahead, I’m keen to take on more leadership roles that merge technical
  strategy with mentorship and innovation. I'm especially excited about working
  on complex frontend architectures, automation, and AI-powered interfaces. My
  goal is to drive scalable growth in a product-driven environment while
  continually learning and giving back through team collaboration and knowledge
  sharing.
</p>
<%- include("partials/footer.ejs") %>
